<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">

        <script src="/js/jquery-2.2.4.min.js"></script>
        <script>$j = jQuery.noConflict();</script>

    </head>

    <body>

        {{{body}}}

    </body>

</html>